@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PretendardGOV-Regular.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/PretendardGOV-Medium.subset.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/PretendardGOV-SemiBold.subset.woff2) format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url(../fonts/general-sans-italic.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/berkeley-mono.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/berkeley-mono-bold.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/berkeley-mono-italic.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/berkeley-mono-bolditalic.woff2) format("woff2");
}

@layer components {
  :root {
    --astro-code-color-background: theme(colors.zinc.900);

    --astro-code-color-text: theme(colors.zinc.100);
    --astro-code-token-string: theme(colors.emerald.500);
    --astro-code-token-function: theme(colors.zinc.500);
    --astro-code-token-comment: theme(colors.blue.600);
    --astro-code-token-keyword: #e35955;
    /* --astro-code-token-keyword: theme(colors.orange.500); */

    --astro-code-token-constant: var(--astro-code-color-text);
    --astro-code-token-parameter: var(--astro-code-color-text);
    --astro-code-token-string-expression: var(--astro-code-token-string);
    --astro-code-token-punctuation: var(--astro-code-color-text);
    --astro-code-token-link: var(--astro-code-token-string-expression);
  }
  .dark {
    --astro-code-color-background: theme(colors.zinc.100);
    --astro-code-color-text:theme(colors.zinc.900);
    --astro-code-token-function: theme(colors.zinc.900);
    --astro-code-token-string: theme(colors.emerald.600);
    --astro-code-token-comment: theme(colors.blue.400);
    /* --astro-code-token-keyword: theme(colors.orange.600); */
    --astro-code-token-keyword: #c73a49;
  }
}

.prose a {
  @apply break-words underline-offset-4 hover:text-blue-400 ;
}  


::-webkit-scrollbar {
  @apply w-3;
}


::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}


::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 dark:bg-zinc-500;
}


::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-400;
}
