<div
  class:list={[
    "prose prose-zinc max-w-none dark:prose-invert ",
    // fences (code blocks)
    "prose-pre:rounded-md prose-pre:flex",
    // "prose-pre:rounded-none prose-pre:sm:rounded-md prose-pre:flex",
    "prose-pre:border-y prose-pre:border-zinc-400/20 prose-pre:sm:border-x ",
    // "prose-pre:font-mono",
    // "prose-pre:font-base",
    // inline code
    // "prose-code:rounded prose-code:p-1",
    // "prose-code:bg-zinc-900/20 prose-code:dark:bg-zinc-100/50",
    "prose-code:bg-zinc-900/90 prose-code:text-zinc-100",
    "prose-code:dark:bg-zinc-100/90 prose-code:dark:text-zinc-900",
    // "prose-code:bg-zinc-900/20 prose-code:dark:bg-zinc-100/30 ",
    "prose-code:text-base",
    "prose-code:font-medium", 
    "prose-code:font-sans",
    "prose-code:rounded prose-code:py-0.5 prose-code:px-1",
    "prose-code:before:content-[] prose-code:after:content-[]",
    // blockquote
    "prose-blockquote:border-zinc-900 prose-blockquote:dark:border-zinc-400",
    // image
    "prose-img:mx-auto prose-img:rounded-md",
  ]}
>
  <slot />
</div>